spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/healthpumta
    username: geon
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
