@font-face {
  font-family: "SebangGothic";
  src: url(./fonts/SEBANG Gothic.ttf);
}

@font-face {
  font-family: "SebangGothicBold";
  src: url(./fonts/SEBANG Gothic Bold.ttf);
}

body {
  margin: 0;
  font-family: "SebangGothic";
}

code {
  font-family: "SebangGothic";
}
